get cameras

In [5]:
import requests 
import pandas as pd

In [6]:
request = requests.get('https://telraam-api.net/v0/cameras')

r_json = request.json()

## Some camera are problematic

In [7]:
r_json['cameras'][9]

{'mac': '202481601991611',
 'user_id': '1284',
 'segment_id': '80491',
 'direction': True,
 'status': 'active',
 'manual': False,
 'time_added': '2019-12-24T09:12:40.142Z',
 'last_data_package': '2020-02-17T20:06:57.790Z',
 'pedestrians_left': False,
 'pedestrians_right': True,
 'bikes_left': False,
 'bikes_right': True,
 'cars_left': True,
 'cars_right': True}

In [8]:
r_json.keys()

dict_keys(['cameras'])

In [9]:
# Make sure all columns are displayed
pd.set_option("display.max_columns",101)

In [10]:
df = pd.DataFrame(r_json['cameras'])

df.head(6)

,bikes_left,bikes_right,cars_left,cars_right,direction,last_data_package,mac,manual,pedestrians_left,pedestrians_right,segment_id,status,time_added,user_id
0,False,True,True,True,True,2020-02-17T20:04:58.388Z,202481600960533,False,False,True,349353,active,2019-03-31T20:12:55.005Z,170
1,True,True,True,True,False,2020-02-17T20:07:06.513Z,202481587682671,False,True,True,460252,active,2019-11-08T08:56:51.029Z,1057
2,True,True,True,True,False,2020-02-17T20:05:03.459Z,202481588403398,False,True,True,108487,active,2019-11-14T16:02:42.031Z,1137
3,True,True,True,True,True,2020-02-17T20:05:12.073Z,202481593746471,False,False,True,1003073349,active,2019-11-09T11:27:13.709Z,1079
4,True,True,True,True,False,2020-02-17T20:07:10.992Z,202481592758650,False,True,True,38007,active,2019-11-23T14:28:35.765Z,1128
5,True,True,True,True,False,2020-02-17T20:08:19.309Z,202481601880250,False,False,True,159218,active,2019-11-16T13:45:49.207Z,1155

In [11]:
df.to_csv('traffic.csv', index = False)